.footer {
    background-color: #1F1F20;
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    /*border: 1px solid;*/
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 40px;
}

.headerTitle{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 36px;
    text-transform: capitalize;
}

.line {
    height: 1px;
    width: 55px;
    margin-top: 15px;
    margin-bottom: 60px;
    background-color: #483D8B;
}

.socialBlock {
    display: flex;
    justify-content: space-between;
    width: 420px;
    /*border: 1px solid;*/
}

.socialIcon {
    width: 60px;
    height: 60px;
    /*background-color: #ededed;*/
    border: 1px solid #4a4a4a;
    border-radius: 50%;
}

.socialIcon a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialIcon img {
    width: 60%;
}

.socialIcon a:first-child img{
    width: 40%;
}

.copyright {
    margin-top: 40px;
    font-size: 12px;
    opacity: 0.6;
}

@media screen and (max-width: 626px) {
    .socialBlock {
        width: 100%;
    }
}

@media screen and (max-width: 340px) {
    .socialBlock {
        width: 50%;
        height: 50px;
    }
}
