/*.header {*/
/*    height: 70px;*/
/*    background-color: #ffffff;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    z-index: 2;*/
/*    opacity: 0.5;*/
/*}*/
/*.container {*/
/*    width: 80%;*/
/*    border: 1px solid;*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    align-items: center;*/
/*}*/

.header {
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    opacity: 0.9;
}

.container {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


@media screen and (max-width: 600px) {
    .container {
        width: 90%;

    }
}